In [29]:
# NIM/Nama  : 16521516/Ahmad Nadil
# Tanggal   : 1 Desember 2021
# Deskripsi : Analisis Data Rumah di Brazil
# Judul     : Problem 2 Modul 5 Praktikum Pengenalan Komputasi 2021

# Kamus :
# import pandas as pd   = import library pandas dan assign pandas sebagai pd
# df                    = variabel yang membaca data "P05-2.csv"
# imax                  = variabel data 'bathroom' maximum(terbanyak)
# df2                   = variabel data 'fire_insurance' > 70
# df3                   = variabel data 'furniture' == 'not furnished'
# pd.read_csv           = Baca data
# len()                 = Fungsi membaca panjang data
# idxmax                = Mencari indeks dengan nilai maksimum                       
# .value_counts()       = membaca banyaknya data sesuai dengan nilai tiap data
# .sort_values()        = pengurutan data berdasarkan kolom

In [30]:
# Import Module Pandas dan Membaca Data CSV
import pandas as pd
df = pd.read_csv("P05-02.csv")

In [31]:
# 1. Banyak rumah yang mengizinkan membawa hewan dengan harga sewa di bawah 5000
len(df.loc[(df["animal"] == 'acept') & (df["rent_amount"] < 5000)])

4936

In [32]:
# 2. Data rumah dengan jumlah kamar mandi terbanyak
imax = df["bathroom"].idxmax()
df[imax:imax+1]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
319,Sao Paulo,900,4,9,8,1,acept,not furnished,0,15000,5700,226,20930

In [33]:
# 3. Banyak rumah dengan luas di atas 200 dan pajak bangunan per tahun di bawah 1700
df.loc[(df["area"] > 200) & (df["property_tax"] < 1700)]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
28,Sao Paulo,350,4,4,3,8,acept,not furnished,2100,4000,500,51,6651
32,Sao Paulo,300,4,6,4,20,acept,not furnished,3700,12000,1584,153,17440
39,Campinas,250,3,3,2,1,acept,not furnished,2200,1700,256,22,4178
46,Sao Paulo,210,4,5,4,4,not acept,not furnished,1650,9000,772,115,11540
52,Sao Paulo,278,4,5,2,16,acept,furnished,4052,9000,1261,115,14430
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8214,Porto Alegre,220,3,2,2,15,acept,not furnished,842,2400,117,36,3395
8215,Rio de Janeiro,250,3,2,1,11,acept,not furnished,2000,2700,500,35,5235
8221,Sao Paulo,230,3,5,3,3,not acept,not furnished,3800,11000,1100,140,16040
8223,Sao Paulo,280,4,4,2,5,acept,not furnished,4200,4000,1042,51,9293
8228,Sao Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260

In [34]:
# 4. Banyak rumah dengan biaya asuransi kebakaran di atas 70 untuk masing-masing kota
df2 = df.loc[df['fire_insurance'] > 70]
df2['city'].value_counts()

Sao Paulo         1095
Rio de Janeiro     196
Belo Horizonte     117
Porto Alegre        48
Campinas            34
Name: city, dtype: int64

In [35]:
# 5. 5 Data rumah dengan jumlah lantai terbanyak dan not furnished
df3 = df.loc[df['furniture'] == 'not furnished']
df3.sort_values(['floor'],ascending=False)[:5]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
1936,Belo Horizonte,80,3,2,2,301,acept,not furnished,750,2600,164,35,3549
4392,Campinas,64,2,2,2,51,acept,not furnished,800,1900,129,25,2854
1230,Sao Paulo,353,4,5,5,46,acept,not furnished,3000,10000,0,127,13130
7844,Sao Paulo,51,1,1,0,32,not acept,not furnished,429,3250,37,42,3758
4257,Belo Horizonte,305,4,5,5,29,acept,not furnished,4596,14000,2239,187,21020